body
{
    margin: 0;
    padding: 0; 
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bgimg.jpeg) ;
}


.header 
{
    min-height: 10vh;
    width: 100%;
    position: relative;
    
}

.header img
{
    width: 170px;
}


.header nav
{
    display: flex;
    padding: 2% 7%;
    justify-content:space-between;
    align-items:center ;
    
    

}


.nav-links
{
    flex: 1;
    text-align: right;
}


.nav-links ul li
{
    list-style: none;
    display:inline-block;
    padding: 2px 12px;
    position: relative;

}


.nav-links ul li a
{
    color: aliceblue;
    text-decoration: none;
}


.nav-links ul li  ::after
{
 content: '';
 width: 0%;
 height: 3px;
 background: rgb(255, 254, 254);
 display: block;
 margin: auto;
 transition: 0.5s;
}


.nav-links ul li  :hover::after
{
    width: 100%;
}


.text-box
{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.text-box h1
{
    font-size: 130px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    
}


.text-box p
{
    margin:10px 0px 40px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
}


.text-box button
{
    padding: 1% 2%;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    border-color: black;
    transition: 1s;
}


.text-box button a
{
  text-decoration: none;
  color: black;
  font-size: 25px;

}


.text-box button:hover
{
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 50px 0px rgb(152, 152, 152);

    
}

nav .fa
{
    display: block;
    color: gray;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}


@media(max-width:700px)
{
    .text-box h1
    {
        font-size: 50px;
        padding-left: 30px;
    }
    .nav-links ul li
    {
    display:block;
    font-size: 12px;
    }
    
    .row
    {
        flex-direction: column;
    }
}


.course
{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 600px;
    color: #f5f1f1;
}


.course h1
{
    color: #ffffff;
    font-size: 42px;
    font-weight: 600;
}


.course p
{
    color:#ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    padding-bottom: 20px;
}


.row
{
    margin: top 5%;
    display: flex;
    justify-content: space-between;
}

.course-col
{
    flex-basis: 31%;
    background-color:rgb(255, 254, 254);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.row p
{
    font-size: 18px;
    color: black;
    line-height: 20px;
    
}

.row h3
{
    color: black;
}

.course-col:hover
{
    box-shadow: 0 0 50px 0px rgb(152, 152, 152);
}


.cbse
{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 150px;
    color: #f5f1f1;
}


.cbse h1
{
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
}


.cbse p
{
    color:#ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 20px;
}

.cbserow
{
    margin: top 5%;
    display: flex;
    justify-content: space-between;
}

.donate
{
    color: #ffffff;
    text-align: center;
    padding-top: 70px;
}


.donate h1 button
{
    padding: 1% 2%;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    border-color: black;
    transition: 1s;
}


.donate h1 button a
{
  text-decoration: none;
  color: black;
  font-size: 25px;

}


.donate h1 button:hover
{
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 50px 0px rgb(152, 152, 152);

    
}

.whoweare
{
    color: #ffffff;
    display:flex;

}

.colwho h1
{
    padding-left: 140px;
    font-size: 64px;
    font-weight: 1000;
    text-align: left;
    width: 50%;
}



.colwho p
{
    text-align: left;
    font-size: 24px;
    font-weight: 100;
    padding-left: 200px;
    padding-right: 100px;
    width: 100%;
}

.rowwhoweare
{
    margin: top 5%;
    display: flex;
    
}

.colwho
{
    flex-basis: 10% 40%;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 100px 60px;
    box-sizing: border-box;
    transition: 0.5s;
}



